
@media screen and (max-width:600px){
  .featured {
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  width: 80%;
  }

  h1,
  h3 {
    font-size: 16px;
  }

  .name {
    width: 60%;
  }
}

@media screen and (min-width:601px) and (max-width:949px){
  .featured {
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33%;
  width: 80%;
  }

  #proj3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width:950px){
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  .logo_left{
    max-width: 120px;
    max-height: 120px;
  }
}

@media screen and (min-width:1050px){
  section {
    width: 815px;
  }
}
